<div class="row-fluid">
    <ul class="nav nav-pills nav-stacked span4">
        <li><a href="#">Nú er gaman</a></li>
        <li><a href="#">Voða gaman</a></li>
        <li><a href="#">Þetta er</a></li>
        <li><a href="#">Langur listi</a></li>
    </ul>
</div>