
<div data-ng-controller="courseCtrl">
	<h3>{{ name }}</h3>
    <p>{{ description }}</p>


    <h4>Lectures:</h4>
	<ul data-ng-repeat="video in videos">
	  <li><a href="/#/video/{{video.Id}}">{{video.Name}} </a></li>
	</ul>


	<h4>Add lecture:</h4>
    <form novalidate >
	    Name: <input name="new-video" id="new-video" data-ng-model="newVideo.name" /><br />
        YouTube Id: <input name="new-video" id="Text1" data-ng-model="newVideo.link" /><br />
        Description: <input name="new-video" id="Text2" data-ng-model="newVideo.description" />
	<button data-ng-click= "addVideo()">add</button>
    </form>


	
</div>	
		