
<div data-ng-controller="courseCtrl">
    <div class="row">
        <div class="span5">



	        <h3>{{ name }}</h3>



            <h4>Lectures:</h4>
	        <ul data-ng-repeat="video in videos">
	          <li><img src="{{video.thumb}} " /><a href="/#/video/{{video.Id}}">{{video.Name}}</a></li>
	        </ul>





   <div data-ng-switch on="role.data">
    <div data-ng-switch-when="True">

          
        <button class="btn btn-primary pull-left" data-ng-click="show=!show" >Edit Course information</button><br style="clear:both"/>

        <div data-ng-show="show">

        <div style="color:red">{{ success }}</div>
            <h4>Edit course:</h4>
            <form nocalidate">
                <div class="control-group">
                    <label class="control-label" for="lectureName">Course name</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge span5" name="edit-course" id="edit-course" data-ng-model="$parent.name" />
                    </div>
                </div>
                <button class="btn btn-primary pull-right" data-ng-click= "editCourse()">Change course</button>
            </form>
        </div>

        <button class="btn btn-primary pull-left" data-ng-click="show2=!show2">Add lecture</button><br style="clear:both"/>

        <div data-ng-show="show2">
	            <h4>Add lecture:</h4>
                <form nocalidate">
                    <div class="control-group">
                        <label class="control-label" for="lectureName">Lecture name</label>
                        <div class="controls">
                            <input type="text" class="input-xlarge span5" name="new-video" id="new-video" data-ng-model="newVideo.name" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="youtubeId">Youtube ID</label>
                        <div class="controls">
                            <input type="text" class="input-xlarge span5" name="new-video" id="youtubeId" data-ng-model="newVideo.link" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="description">Description</label>
                        <div class="controls">
                            <textarea  name="new-video" rows="3" class="input-xlarge span5" id="description" data-ng-model="newVideo.description" ></textarea>
                        </div>
                    </div>    

                  <div class="control-group">
                    <div class="controls">

                      <button class="btn btn-primary pull-right" data-ng-click= "addVideo()">Add Lecture</button>
                    </div>
                  </div>
                </form>
          </div>
     </div>
    </div>
    


	
</div>	

