
<div data-ng-controller="videoCtrl">


    <div class="row">
        <div class="span10">
            <h3>{{ name }}</h3>
            <p>Description: {{ description }}</p>
  
            
            <div data-ng-switch on="role.data">
    <div data-ng-switch-when="True">

         <button class="btn btn-primary pull-left" data-ng-click="show=!show">Edit lecture information</button><br style="clear:both"/>

        <div data-ng-show="show">

	                <h4>Edit lecture info:</h4>
                <div style="color:red">{{ success }}</div>
                <form nocalidate">
                    <div class="control-group">
                        <label class="control-label" for="lectureName">Lecture name</label>
                        <div class="controls">
                            <input type="text" class="input-xlarge span5" name="new-video" id="new-video" data-ng-model="$parent.name" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="youtubeId">Youtube ID</label>
                        <div class="controls">
                            <input type="text" class="input-xlarge span5" name="new-video" id="youtubeId" data-ng-model="$parent.link" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="description">Description</label>
                        <div class="controls">
                            <textarea  name="new-video" rows="3" class="input-xlarge span5" id="description" data-ng-model="$parent.description" ></textarea>
                        </div>
                    </div>    

                  <div class="control-group">
                    <div class="controls">

                      <button class="btn btn-primary pull-right" data-ng-click= "editVideo()">Update Lecture</button>
                    </div>
                  </div>
                </form>
         </div>
     </div>
    </div>    
       
        
         <div class="video-container">
             
            <div id="player" >You need Flash player 8+ and JavaScript enabled to view this video.</div>
             
        </div>
        <div>
            <a href="javascript:faster()">Faster</a> 
        </div>
 
        <h4>Add comment:</h4>
        <textarea rows="3" class="span10" name="new-comment" id="new-comment" data-ng-model="newComment"></textarea>
        <button class="btn btn-primary pull-right" data-ng-click="addComment()">Add Comment</button>
  
  
        <div class="row">
            <div class="span10">
                <h4>Comments:</h4>
                <ul data-ng-repeat="comment in comments | orderBy:'Id':reverse=true">
                    <li>
                        <div class="well well-small">
                            {{comment.User}} wrote: {{ comment.CommentText }}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>



