html {
    background-color: #e2e2e2;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #333;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;

}

.well {
    margin-left: -25px;
}

ul 
{
    list-style-type: none; /* taka bullet af comment*/
}