html {
    background-color: #e2e2e2;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #333;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;

}



.well {
    margin-left: -25px;
}

#wellOverride {
    margin-left: 0px;
}

ul#comments
{
    list-style-type: none; /* taka bullet af comment*/
}

ul#lectureList {
    list-style-type:none;
    margin-left:0px;
    

}

ul#relatedVids {
    list-style-type:none;
}

.btn
{
margin-bottom: 10px;
}

#commentAuthor {
    font-size:20px;
    text-decoration:underline;
    margin-bottom:3px;
    
}

div#loginNav {
    padding-top:10px;
    padding-bottom:10px;
}


/*** Responsive youtube embed ***/
.video-container {
    position: relative;
    padding-bottom: 60%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.errormsg {
    color:red;
}

img {
    padding-right:5px;
}

#override {
    margin: 0px;
}

#videoname {

    font-size: x-large;
    margin-left:0px;
}

p#descript {
    margin-left:-10px;
}
