html, body {
    background-color:#e2e2e2;

}

#login, #external {
    width: 400px;
    padding-top: 10px;
}


.container > .content {
background-color: #fff;
padding: 20px;
margin: 0 -20px; 
border-radius: 10px 10px 10px 10px;
box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

	  .login-form {
		margin-left: 65px;
	  }

